body{
	background: #606c88;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	text-align: center;
}

.ptest{
	background: #CCCCB2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #757519, #CCCCB2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: 0.3s;
}

.ptest:hover{
	text-transform: uppercase;
	letter-spacing: 5px;
	color: green;
	transform: scale(1.2);
}